@import "theme.css";
@import "normalize.css";

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  background: var(--morado-principal);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  #titulo {
    h1 {
      color: var(--blanco);
    }
  }

  #nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 2rem;
    padding: 0;

    li a {
      text-decoration: none;
      color: var(--blanco);
      font-weight: 500;
      transition: color 0.2s;
      padding: 0.5rem 1rem;
      border-radius: 8px;
    }

    li a:hover,
    li a:focus {
      background: var(--fondo-gris);
      color: #fff;
    }

    li {
      position: relative;
    }

  }

}

main {
  background: var(--fondo-gris);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  section#caja-principal {

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "bienvenida formularios";
    gap: 25px;

    background: var(--fondo-claro);
    margin: 3rem;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(60, 60, 120, 0.15);
    padding: 1.5rem;

    #bienvenida {
      h1 {
        color: var(--morado-principal);
      }

      p {
        text-align: justify;
        line-height: 1.5;
      }
    }

    #formularios {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 25px;

      #registro {
        max-width: 400px;
        max-height: 400px;
        background: var(--gradiente);
        border-radius: 10px;
        padding: 10px;
        margin-right: 15px;
        align-items: center;

        h2 {
          color: var(--blanco);
          text-align: center;
        }

        #formulario_registrado {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;

          input {
            background: var(--gradiente2);
            border-radius: 8px;
            border: none;
            padding: 5px;
            margin: 5px;
          }

          #botones-registro {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;

            #enviar {
              color: black;
              background: var(--gradiente2);
              border: none;
              border-radius: 8px;
              padding: 10px 20px;
              font-size: 16px;
            }

            #cancelar {
              color: black;
              background: var(--gradiente2);
              border: none;
              border-radius: 8px;
              padding: 10px 20px;
              font-size: 16px;
            }
          }

        }

      }

      #no_registrado {
        max-width: 400px;
        max-height: 400px;
        background: var(--gradiente);
        border-radius: 10px;
        padding: 10px;
        margin-right: 15px;
        align-items: center;

        h2 {
          color: var(--blanco);
          text-align: center;
        }

        p {
          color: var(--blanco);
          font-size: 0.8rem;
        }

        #formulario_no_registrado {

          input {
            background: var(--gradiente2);
            border-radius: 8px;
            border: none;
            padding: 5px;
            margin: 5px;
          }

          #botones_no_registrado {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;

            #envio {
              color: black;
              background: var(--gradiente2);
              border: none;
              border-radius: 8px;
              padding: 10px 20px;
              font-size: 16px;
            }

            #cancelar {
              color: black;
              background: var(--gradiente2);
              border: none;
              border-radius: 8px;
              padding: 10px 20px;
              font-size: 16px;
            }
          }
        }

      }
    }

  }
}

footer {
  background: var(--footer-color);
  color: var(--blanco);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.5rem;

  p {
    margin: 0px;

    a {
      text-decoration: none;
      color: var(--blanco);
    }
  }
}